.venv/
.env
.vscode/
.github/
models/
raouf_test/
tempCodeRunnerFile.py
test.py
__pycache__/
_pycache__/
_pycache_/
chroma_db/
chat_logs.db
data/*.yaml
evaluation_results/
evaluation_results_*.csv
evaluation_results_*.json
