.venv
./.venv/
.env
./.env/
./.vscode/
test.py
.github/
models/
raouf_test/
.venv/
.env/
tempCodeRunnerFile.py
_pycache__/
chroma_db/
_pycache_/
__pycache__/
# Ignore Python cache
__pycache__/
# Ignore Chroma DB
chroma_db/chroma.sqlite3
# Ignore YAML config files in data
data/*.yaml
chat_logs.db
data/
chroma_db/
_pycache_/
evaluation_results/
evaluation_results_*.csv
evaluation_results_*.json